@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.projects_container {
  background-color: #ffe8b6;
}

.carousel-indicators{
  display: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(7, 7, 7);
  border-radius: 50%;
}

.project_title {
  color: black;
  font-family: "Titan One", cursive;
  font-size: 3rem;
  padding-top: 50px;
}

.project_border {
  border-bottom: 1px solid #333;
  width: 230px;
  margin: 30px auto;
}

.first_carousel,
.second_carousel {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .card {
    height: 29rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0 0 10px 10px;
    border: none;
    margin: 0.5rem 0;
  }
}

.tech_icons {
  margin-bottom: 20px;
}
.tech_icons .tech_lang {
  display: flex;
  flex-wrap: wrap;
}
.tech_icons .tech_lang p {
  background-color: #eeedede7;
  box-shadow: 2px 2px 3px #ccc;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.github,
.app {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-family: "Titan One", cursive;
  border-radius: 5px;
  padding: 5px 0;
}

.github {
  background-color: rgb(14, 150, 150);
  color: #fff;
}

.app {
  border: 1px solid #ccc;
  color: rgb(9, 145, 145);
}

@media (min-width: 767px) {
  .project_title {
    font-size: 4rem;
  }
  .first_carousel,
  .second_carousel {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    & .card {
      width: 25rem;
      height: 30rem;
      margin: 0 0.5rem;
    }
  }
}

@media (min-width: 1025px) {
}